<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="TioChepeDelivery"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TioChepeDelivery">

        <activity android:name=".ui.ClienteActivity" />
        <activity android:name=".ui.RecepcionActivity" />
        <activity android:name=".ui.CocinaActivity" />
        <activity android:name=".ui.RepartidorActivity" />
        <activity android:name=".ui.AdministradorActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>